body {
  background: rgb(118, 185, 17);
  text-align: center;
  font-family: merienda;
}
h1 {
  font-size: 50px;
  color: rgb(248, 18, 87);
}
button {
  background: rgb(248, 18, 87);
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: white;
}
p {
  font-size: 28px;
  color: rgb(11, 87, 250);
  font-weight: 300;
}
.email-link {
  font-size: 35px;
}
